body{
    margin:0;
    padding:0;
    background-color: rgb(171, 255, 46);
}

h2{
    margin: 10px;
    text-align: center;
}
p{
    margin: 10px;
}

a{
    text-decoration: none;
    color: rgb(128, 0, 128);
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 200vh;
}

.signup
{
    width: 400px;
    border: 1px solid rgb(128, 128, 128);
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    border-radius: 12px;
}

.index
{
    width: 400px;
    display: flex;
    border: 1px solid rgb(128, 128, 128);
    padding: 10px;
    box-sizing: border-box;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    border-radius: 12px;
}

.inp 
{
    width: 100%;
    padding: 10px 32px;
    box-sizing: border-box;
    margin: 10px 0px;
    border-radius: 10px;
    border: 1px solid rgb(217, 165, 32);
    font-size: 16px;
    color: rgb(0, 0, 0);
}

/*.inp:focus{
    outline:none;
    border: 2px rgb(0, 128, 0);
}*/

.btn
{
    padding: 8px 30px;
    border:none;
    background-color: gold;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    justify-items: center;
    
}